.detail__main {
    width: 100%;
    height: 85vh;
    padding: 10px;
}

.detail__i {
    height: 500px;
    max-width:500px;
}

.detail__h {
    margin-top:10px; 
    margin-bottom:20px;
}

.detail__h2 {
    margin-top:40px;
}

.detail__desc {
    margin:20px;
    padding:20px;
}




  
