.search__main {
    padding: 10px;
    background-color: rgb(251, 238, 45); 
    width: 100%;
}

.search__input{
   border: 0px;
   font-size: 24px;
   padding: 8px ;
   width: 100%; 
   &:focus {
    outline: none;
    border: none;
    border-bottom: .1rem solid rgb(230, 230, 230);
  }
}
  
.search__btn{
    height: 50px;
}

  
